<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
<hr />

<%= grid(@products_grid) do |g|

  g.column name: 'ID', attribute: 'id' do |task|
    task.id
  end

  g.column name: 'Name', attribute: 'name' do |task|
    task.name
  end

  g.column name: 'price', attribute: 'price' do |task|
    task.price
  end

  g.column name: 'updated_at', attribute: 'updated_at' do |task|
    task.updated_at
  end

  g.column do |task|
    link_to('Edit', edit_product_path(task))
  end
end -%>

<br>

<%= link_to 'New Product', new_product_path %>
